doctype html

html(lang="es")
  // Mala práctica incluir los estilos en el HTML como embed, pero tiene sus casos de uso.
  style.
    @import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');

  head
    meta(charset='UTF-8' name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
    link(rel='shortcut icon' href='images/ico/favicon.png')
    title Banjercito | Bienes inmuebles
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.7/css/swiper.min.css')
    link(rel='stylesheet' href='css/style.css')
    link(rel='stylesheet' href='css/fonts.css')
    link(rel='stylesheet' href='css/app.css')
  // Header debe ir dentro de body no por fuera - FIXED
  body
    #app
        // Inicio de Menú
        header
            .menu_bar
                a.bt-menu(href='#')
                    span.icon-menu
                    | Menu
            nav
                ul
                    li
                        a(href='#')
                            span.icon-location2
                            | Inicio
                            
                    li(v-for="entidad in entidades")
                        a(href='#', @click="loadEntidad(3)")
                            span.icon-location2
                            | {{entidad.name}}
                
        // Final de Menú
        section
            //- Aquí va todo el contenido
            .left 
                .swiper-container.main-slider.loading
                    .swiper-wrapper
                    // -----------Copiar Desde aqui--------------------------
                    .swiper-slide
                        figure.slide-bgimg(style='background-image:url(images/casa_1.jpg)')
                        img.entity-img(src='images/casa_1.jpg')
                        .content
                        p.title
                        span.caption


                    // ----------------hasta aqui para una casa---------------------
                    // -- Casas agregadas el 24 de Enero de 2020 (total 18 casas)
                    // If we need navigation buttons
                    .swiper-button-prev
                    .swiper-button-next

            .right 
                // Miniaturas de la derecha
                .swiper-container.nav-slider.loading
                .swiper-wrapper(role='navigation')
                    // --------------------------------------------
                    .swiper-slide
                    figure.slide-bgimg(style='background-image:url(images/casa_1.jpg)')
                        img.entity-img(src='images/casa_1.jpg')
                    .content
                        p.slide-bgimg Calvillo, Aguascalientes.
                    footer
                        //- Aquí va el contenido del footer
    //- Descomentar antes de enviar a producción.
    //- script(src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js")
        
    // Comentar antes de enviar a producción
    script(src='https://vuejs.org/js/vue.js', defer)
    
    script(src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.7/js/swiper.min.js', defer)
    script(src='./js/script.js', defer)
    script(src="./js/app-dist.js", defer)